@charset "utf-8";

/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/

img,
object,
embed,
video {
    max-width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* IE 6 does not support max-width so default to width 100% */

.ie6 img {
    width: 100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
    clear: both;
    margin-left: 0;
    width: 100%;
    float: left;
    display: block;
}
.fluidList {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
body,
.pure-g [class *="pure-u"] {
    font-family: "futura-pt", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #333333;
    font-size: 100%;
    line-height: 1.5em;
}
p {
    font-size: 16px;
}
h1.large {
    font-size: 1.6em;
    padding: 0;
    margin: 0;
    font-weight: 300;
    line-height: 1.5;
    color: #ffffff;
    letter-spacing: 10px;
    margin-right: -10px;
    text-transform: uppercase;
    text-align: center;
}
h1 {
    font-size: 2.5em;
    padding: 0;
    margin: 0;
    font-weight: 100;
    line-height: 1.5;
    color: #ffffff;
    letter-spacing: 10px;
    margin-right: -10px;
    text-transform: uppercase;
    text-align: center;
}
h2,
.pure-g h2[class *="pure-u"] {
    font-size: 1.6em;
    padding: 0;
    margin: 0;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 5px;
    margin-right: -5px;
    text-transform: uppercase;
    text-align: center;
}
h3 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
}
h4 {
    font-size: 1.3em;
    padding: 0;
    margin: 0;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 1px;
    margin-right: -1px;
}
h5 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 2px;
    margin-right: -2px;
    text-transform: uppercase;
    text-align: center;
}
.greybar {
    font-size: 2.0em;
    padding: 0;
    margin: 0;
    font-weight: 400;
    line-height: 1.2;
    background-color: #939598;
    color: #fff;
}
a {
    text-decoration: none;
    color: #254ea2;
}
a:hover,
a:active {
    outline: none;
}
a,
a:active,
a:visited {
    color: #254ea2;
    text-decoration: none;
}
a:hover {
    color: #000000;
}
.linkyellow {
    color: #ffd400;
    text-decoration: none;
    outline: none;
}
.linkyellow a:hover {
    color: #ed1c24;
}

/* START OF MENU */

* {
    box-sizing: border-box;
}
.content {
    margin: 0 auto;
}
.top-nav {
    text-align: center;
    font-size: 0.938em;
}
.top-nav li {
    display: inline-block;
    position: relative;
    background-color: #000000;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    min-width: 105px;
}
.top-nav > li:hover,
.sub-nav > li:hover {
    color: white;
}
.top-nav > li.active > a {
    color: #ffd400;
}
.top-nav > li a {
    text-decoration: none;
    line-height: 1.5em;
    text-align: center;
    display: block;
    color: #ffffff;
    padding: 6px 3px 5px 3px;
}
.top-nav > li > a:hover,
.sub-nav > li > a:hover {
    color: #ffd400;
}
.sub-nav {
    position: absolute;
    width: 100%;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
.top-nav li:hover .sub-nav {
    visibility: visible;
}
.sub-nav > li {
    display: block;
    width: 100%;
    position: relative;
}
.sub-nav > li a {}
.sub-nav > li:first-child {
    border-top: none;
}
.sub-nav > li:last-child {
    border-bottom: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table.price-table th,
td {
    padding: 2px 20px;
    text-align: left;
}
.tablelined td {
    border: #CCC 1px solid;
}

/*mobile nav*/

label {
    cursor: pointer;
}
#mobilemenu-toggle {
    display: none;
    /* hide the checkbox */
}
#mobilemenu {
    display: none;
    position: absolute;
    float: right;
}
#mobilemenu-toggle:checked + #mobilemenu {
    display: block;
}
#mobilemenu li {
    display: block;
    position: relative;
    background-color: #000000;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    min-width: 180px;
    border: 1px solid #6D6F71;
    font-size: 16px;
}
#mobilemenu li a {
    color: #ffffff;
}
#mobilemenu li a:hover {
    color: #ffd400;
    text-decoration: none;
}
#mobilemenu li ul {
    color: #ffffff;
}

/* end of mobile nav */

.content {
    height: 600px;
    background: lightgrey;
    padding: 10px;
}

/* END OF MENU */

#btn {
    height: 38px;
    width: 180px;
    border-radius: 2px;
    display: block;
    margin: auto;
    clear: none;
    background-color: #254ea2;
    font-size: 20px;
    background-image: -webkit-linear-gradient(270deg, rgba(68, 118, 221, 1.00) 0%, rgba(21, 78, 162, 1.00) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(68, 118, 221, 1.00) 0%, rgba(21, 78, 162, 1.00) 100%);
    background-image: -o-linear-gradient(270deg, rgba(68, 118, 221, 1.00) 0%, rgba(21, 78, 162, 1.00) 100%);
    background-image: linear-gradient(180deg, rgba(68, 118, 221, 1.00) 0%, rgba(21, 78, 162, 1.00) 100%);
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
}
#btn a {
    color: #ffffff;
    text-decoration: none;
}
#btn:hover {
    background-color: #2957b6;
    background-image: -webkit-linear-gradient(270deg, rgba(51, 92, 176, 1.00) 0%, rgba(28, 53, 106, 1.00) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(51, 92, 176, 1.00) 0%, rgba(28, 53, 106, 1.00) 100%);
    background-image: -o-linear-gradient(270deg, rgba(51, 92, 176, 1.00) 0%, rgba(28, 53, 106, 1.00) 100%);
    background-image: linear-gradient(180deg, rgba(51, 92, 176, 1.00) 0%, rgba(28, 53, 106, 1.00) 100%);
}

/* counter */

#counter {
    font-size: 2.45em;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-weight: 400;
    line-height: 1.3;
}
#counter .text {
    width: 850px;
    margin: auto;
    display: block;
    height: 35px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    padding-top: 8px;
    position: relative;
}
video {
    max-width: 100%;
    height: auto;
}
iframe,
embed,
object {
    max-width: 100%;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 0px;
    height: 0;
    max-width: 645px;
    margin: 0 auto;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 645px;
}
#fourboxes {
    padding-top: 20px;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.col {
    float: left;
    width: 22%;
    margin-right: 4%;
    padding-bottom: 20px;
}
.col0 {
    float: left;
    width: 100%;
    margin-right: 0%;
    padding-bottom: 20px;
}
.col1 {
    float: left;
    width: 46%;
    margin-right: 4%;
    padding-bottom: 20px;
}
.col-4 {
    margin-right: 0;
}
.pricecol {
    float: left;
    width: 30%;
    margin-right: 4%;
    padding-bottom: 20px;
}
.pricecol-3 {
    margin-right: 0;
    text-align: right;
}
.level2menu {
    margin-left: 30px;
}
.level2menu a {
    color: ffd400;
    font-size: 14px;
}
.text-center {
    text-align: center !important;
}
.tablecontainer {
    display: table;
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
}
.heading {
    font-weight: bold;
    display: table-row;
    background-color: #254ea2;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
}
.table-row {
    display: table-row;
    text-align: left;
    background-color: #fff;
}
.table-row1 {
    display: table-row;
    text-align: center;
    background-color: #fff;
    color: #333;
}
.table-row2 {
    display: table-row;
    text-align: left;
    background-color: #fff;
    color: #333;
}
.tablecol {
    display: table-cell;
    border-bottom: 1px solid #CCC;
    padding: 14px;
}
.popoutbox h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding-top: 10px;
}
.popoutvideo {
    padding: 10px;
    font-family: "futura-pt", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #06000;
    line-height: 24px;
    text-align: center;
}
.popoutvideo h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}
.speakervideo {
    display: block;
    float: left;
    width: 275px;
    padding-right: 27px;
    padding-bottom: 20px;
}
.speakerleft {
    display: block;
    float: left;
    width: 190px;
    padding-right: 35px;
    padding-bottom: 40px;
}
.speakerleft img {}
.speakerpopup {
    float: left;
    width: 200px;
    height: 200px;
    vertical-align: central;
    overflow: hidden;
    margin-right: 10px;
}
.speakerdate {
    font-size: 14px;
    color: #939598
}
.speakerleft_home {
    display: block;
    float: left;
    width: 20%;
    text-align: center;
    padding-bottom: 40px;
}

/* Mobile Layout: 480px and below. */

.gridContainer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    clear: none;
    float: none;
    font-family: "futura-pt", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}
#topbanner {
    height: 400px;
}
#sub-banner {}
.banner {
    height: 100%;
    background-image: url('../images/iwgraphicbg.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('../images/iwgraphicbg.jpg');
    background-size: auto, cover;
    background-position: center;
}
.oldie .banner h1,
.oldie .banner h2 {
    filter: dropshadow(color=#000000, offx=2, offy=2);
}
.banner.agenda {
    height: 55%;
    background-image: url('../images/subbanners_agenda.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url('../images/subbanners_agenda.jpg');
    background-position: 0% 0%, 50% 50%;
}
.banner.sponsors {
    height: 55%;
    background-image: url('../images/subbanners_sponsors.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url('../images/subbanners_sponsors.jpg');
    background-position: 0% 0%, 50% 50%;
}
.banner.innovation {
    height: 55%;
    background-image: url('../images/subbanners_innovation.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url('../images/subbanners_innovation.jpg');
    background-position: 0% 0%, 50% 50%;
}
.banner.nominate {
    height: 55%;
    background-image: url('../images/subbanners_callforpapers.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('../images/subbanners_callforpapers.jpg');
    background-position: 0% 0%, 50% 50%;
}
.banner.sessions {
    height: 55%;
    background-image: url('../images/subbanners_sessions.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url('../images/subbanners_sessions.jpg');
    background-position: 0% 0%, 50% 50%;
}
.banner.whyattend {
    height: 55%;
    background-image: url('../images/subbanners_whyattend.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('../images/subbanners_whyattend.jpg');
    background-position: 0% 0%, 50% 50%;
}
.banner.registration {
    height: 55%;
    background-image: url('../images/subbanners_registration.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('../images/subbanners_registration.jpg');
    background-position: 0% 0%, 50% 50%;
}
.banner.pricing {
    height: 55%;
    background-image: url('../images/subbanners_pricing.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url('../images/subbanners_pricing.jpg');
    background-position: 0% 0%, 50% 50%;
}
.banner.keynotes {
    height: 55%;
    background-image: url('../images/subbanners_keynotes.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url('../images/subbanners_keynotes.jpg');
    background-position: 0% 0%, 50% 50%;
}
.banner.travel {
    height: 55%;
    background-image: url('../images/subbanners_travel.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url('../images/subbanners_travel.jpg');
    background-position: 0% 0%, 50% 50%;
}
.banner.sponsorbenefits {
    height: 55%;
    background-image: url('../images/subbanners_sponsorbenefits.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url('../images/subbanners_sponsorbenefits.jpg');
    background-position: 0% 0%, 50% 50%;
}
#div1 {}
#logo {
    margin: 0px;
    float: left;
    width: 218px;
    height: 106px;
    background: url(../images/iwlogo.png) no-repeat center;
    display: block;
}
header {
    background: #060000;
    width: 100%;
    max-width: 1100px;
    height: 106px;
    top: 0;
    margin: 0 auto;
    z-index: 100;
}
#content1 {
    background-color: #ffffff;
}
#schedule_full {
    display: none;
}
#schedule_mobile {
    display: none;
}
#footer {
    background-color: #ffffff;
}
.textbox {
    display: block;
    max-width: 1100px;
    margin: auto;
    padding: 1.75em;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
}
.textbox60 {
    display: block;
    margin-right: auto;
    width: 60%;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.whitetext {
    color: #ffffff;
}
.blacktext {
    color: #000000;
    clear: right;
}
.price {
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.7;
}
#video {}
#speakers_bio {
    max-width: 200px;
    float: left;
}
.video {}
.col {
    float: left;
    width: 100%;
    padding-bottom: 30px;
}
.col1 {
    float: left;
    width: 100%;
    padding-bottom: 30px;
}
width: 100% .col-4 {
    margin-right: 0;
}
figure_speakers {
    width: 100%;
}
#2col {}
#div2 {
    background-color: #6D6F71;
}
#boxleft {
    text-align: center;
}
#boxright {
    padding-bottom: 40px;
}
.textleft {
    text-align: left;
}
.textleft {
    text-align: left;
}
#div4 {
    padding-bottom: 40px;
}
#innerfooter {}
.socialicons {
    padding-bottom: 20px;
    text-align: center;
}
.socialicons a {
    opacity: 0.3;
}
.socialicons a:hover {
    opacity: 0.8;
}
.socialicons img {
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    display: inline-block;
    padding-bottom: 0px;
}
#innerfooter {
    font-size: 11px;
}
#footerleftbox {
    width: 100%;
    max-width: 400px;
    display: block;
    text-align: center;
}
#footerrightbox {
    width: 100%;
    max-width: 438px;
    padding-bottom: 40px;
    clear: none;
    display: block;
    text-align: center;
}
#fullnav {
    display: none;
}
#mobilenav {
    display: block;
    float: right;
    padding-top: 20px;
    padding-right: 10px;
}
#mobilenav ul {
    position: absolute;
    right: -20px;
    padding: 10px;
}
#mobilenav ul li {
    padding: 10px;
}
.numbers {
    color: #939598;
    margin-top: 30px;
    font-size: 46px;
    font-weight: 300;
}
.smallerbox {}
#topreasons-section {}
#content2 {
    background-color: #f8f8f8;
}
#content3 {
    background-color: #FFFFFF;
}
#content4 {
    background-color: #f8f8f8;
}
.pricingborder {
    padding: 5px 0;
}
.pricingbackground {
    background-color: #CCCCCC;
}
.redtext {
    color: #ED1C24;
}
input,
textarea {
    font-family: "futura-pt", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #6d6f71;
    font-size: 1em;
}
.popoutbox {
    width: 280px;
    height: 500px;
    overflow-x: hidden;
    padding: 20px;
    font-family: "futura-pt", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 24px;
}
#benefitsinfo {}
.zeroMargin_mobile {
    margin-left: 0;
}
.hide_mobile {
    display: none;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 400px) {
    .gridContainer {
        width: 100%;
        clear: none;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    #div1 {}
    #logo {
        display: block;
    }
    #topbanner {
        display: block;
        width: 100%;
    }
    header {
        background: #060000;
        width: 100%;
        max-width: 1100px;
        height: 106px;
        margin: 0 auto;
        z-index: 100;
    }
    #mobilenav {
        display: block;
        float: right;
        padding: 20px;
    }
    #content1 {}
    #schedule_full {
        display: none;
    }
    #footer {
        background-color: #f7f7f7;
    }
    #footer a {
        color: #333333;
    }
    .whitetext {
        padding-bottom: 0px;
    }
    .col {
        float: left;
        width: 46%;
        margin-right: 4%;
        padding-bottom: 30px;
    }
    .col1 {
        float: left;
        width: 46%;
        margin-right: 4%;
        padding-bottom: 30px;
    }
    .col-4 {
        margin-right: 0;
    }
    #div2 {}
    #div4 {
        padding-bottom: 40px;
    }
    #innerfooter {
        font-size: 11px;
    }
    #footerleftbox {
        width: 35%;
        max-width: 400px;
        float: left;
        display: block;
        text-align: left;
    }
    #footerrightbox {
        width: 60%;
        max-width: 438px;
        padding-bottom: 40px;
        clear: none;
        display: block;
        float: right;
        text-align: right;
    }
    #section-reasons {}
    .smallerbox {}
    #topreasons-section {}
    .popoutbox {
        width: 580px;
        height: 500px;
        overflow-x: hidden;
        padding: 20px;
        font-family: "futura-pt", Arial, Helvetica, sans-serif;
        font-size: 13px;
        line-height: 24px;
    }
    #benefitsinfo {}
    .hide_tablet {
        display: none;
    }
    .zeroMargin_tablet {
        margin-left: 0;
    }
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width:900px) {
    header {
        background: #060000;
        width: 100%;
        max-width: 1100px;
        height: 106px;
        margin: 0 auto;
        z-index: 100;
    }
    #fullnav {
        display: block;
        float: right;
        min-width: 600px;
        margin: auto;
        left: 390px;
        padding-top: 60px;
    }
    h1.large {
        font-size: 3.0em;
        padding: 0;
        margin: 0;
        font-weight: 300;
        line-height: 1.1;
        color: #ffffff;
        letter-spacing: 10px;
        margin-right: -10px;
        text-transform: uppercase;
    }
    h3 {
        font-size: 1.3em;
        padding: 0;
        margin: 0;
        font-weight: 400;
        line-height: 1.6;
    }
    .text-left {
        text-align: left;
    }
    #mobilenav {
        display: none;
    }
    .gridContainer {
        width: 100%;
        /*max-width: 1100px;*/
        margin: auto;
        clear: none;
        float: none;
        margin-left: auto;
    }
    #div1 {
        background-color: #060000;
    }
    #boxleft {
        text-align: left;
        float: left;
        width: 40%;
        clear: none;
    }
    #boxright {
        float: right;
        text-align: center;
        width: 40%;
        padding-bottom: 40px;
        clear: none;
    }
    #schedule_full {
        display: block;
    }
    #schedule_mobile {
        display: block;
    }
    p {
        padding-bottom: 10px;
    }
    p .light {
        padding-bottom: 10px;
        font-weight: 300;
    }
    #topbanner {
        display: block;
        width: 100%;
    }
    #content1 {
        text-align: center;
    }
    #innerfooter {
        font-size: 11px;
    }
    #footerleftbox {
        width: 35%;
        max-width: 400px;
        float: left;
        display: block;
        text-align: left;
    }
    #footerrightbox {
        width: 60%;
        max-width: 438px;
        padding-bottom: 40px;
        clear: none;
        display: block;
        float: right;
        text-align: right;
    }
    #logo {
        margin-left: 20px;
        float: left;
        width: 218px;
        height: 106px;
        display: block;
    }
    #top {}
    #video {}
    .col {
        float: left;
        width: 22%;
        margin-right: 4%;
        padding-bottom: 30px;
    }
    .col5 {
        float: left;
        width: 33%;
        margin-right: 0%;
        padding-bottom: 30px;
    }
    .col-4 {
        margin-right: 0;
    }
    #div2 {}
    #div4 {
        width: 48%;
        max-width: 438px;
        padding-bottom: 40px;
        clear: none;
        display: block;
        float: right;
    }
    #innerfooter {
        font-size: 11px;
    }
    #footerleftbox {
        width: 35%;
        max-width: 400px;
        float: left;
        display: block;
        text-align: left;
    }
    #footerrightbox {
        width: 60%;
        max-width: 438px;
        padding-bottom: 40px;
        clear: none;
        display: block;
        float: right;
        text-align: right;
    }
    #section-reasons {
        width: 70%;
        margin: 0 auto;
        ;
        display: block;
        text-align: center;
    }
    .smallerbox {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    #topreasons-section {
        margin: 0 auto;
        width: 70%;
        display: block;
    }
    .popoutbox {
        width: 800px;
        height: 500px;
        overflow-x: hidden;
        padding: 20px;
        font-family: "futura-pt", Arial, Helvetica, sans-serif;
        font-size: 13px;
        line-height: 24px;
    }
    #benefitsinfo {}
    .zeroMargin_desktop {
        margin-left: 0;
    }
    .hide_desktop {
        display: none;
    }
}
@media screen and (max-width: 25em) {
    body {
        font-size: 90%;
    }
}

/**
 * Extend pure grid
 * Note: Mobile first approach from here
 */

#sponsor-logo-container {
    width: 1044px;
    margin-right: auto;
    margin-left: auto;
}
#sponsor-logo-container h2 {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 1rem;
    margin-top: 25px;
    margin-bottom: 43px;
}
.sponsor-logo-row {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.sponsor-logo-row > div {
    padding: 0 1em;
    margin-bottom: 80px;
}

/* One child */

.sponsor-logo-row.children-1 > div {
    width: 100%;
}
.children-1 {
    width: 50%;
}
@media only screen and (max-width: 1400px) {
    #sponsor-logo-container {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
}
@media only screen and (min-width: 300px) {
    .bg-primary-sponsor {
        height: 3800px;
    }
}
@media only screen and (min-width: 360px) {
    .bg-primary-sponsor {
        height: 4000px;
    }
}
@media only screen and (min-width: 375px) {
    .bg-primary-sponsor {
        height: 4050px;
    }
}
@media only screen and (min-width: 400px) {
    .bg-primary-sponsor {
        height: 3400px;
    }
    .sponsor-logo-row {
        width: 80%;
    }
    /* One child */
    .sponsor-logo-row.children-1 > div {
        width: 100%;
    }
    .children-1 {
        width: 40%;
    }
    /* Three children */
    .sponsor-logo-row.children-3 > div {
        width: 33.3%;
    }
    .children-3 {
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .bg-primary-sponsor {
        height: 2800px;
    }
    .sponsor-logo-row {
        width: 100%;
    }
    /* Three children */
    .sponsor-logo-row.children-3 > div {
        width: 33.3%;
    }
    .children-3 {
        width: 75%;
    }
    /* Two children */
    .sponsor-logo-row.children-2 > div {
        width: 50%;
    }
    .children-2 {
        width: 50%;
    }
    /* One child */
    .sponsor-logo-row.children-1 > div {
        width: 100%;
    }
    .children-1 {
        width: 25%;
    }
}
@media only screen and (min-width: 1024px) {
    .bg-primary-sponsor {
        height: 3150px;
    }
}
@media only screen and (min-width: 1400px) {
    .bg-primary-sponsor {
        height: 3360px;
    }
}

/**
 * Add styling to lightbox
 */

.featherlight-content {
    max-width: 700px;
}
#lightbox-content {
    padding: .5em 1em;
}
#lightbox-content .topbar {
    color: #000;
    font-size: .95em;
    padding-right: .7em;
}
#lightbox-content .event:before,
#lightbox-content .sponsor-type:before {
    color: #d6d6d6;
    content: "|";
    margin-right: .5em;
    margin-left: .5em;
    position: relative;
    top: -1px;
}
#lightbox-content .title {
    text-align: left;
}
#lightbox-content h4 {
    font-size: 1.1em;
    letter-spacing: 0;
}
#lightbox-content .logo img {
    margin: 1em auto;
    max-height: 120px;
}
#lightbox-content .website {
    margin: 0;
}
#lightbox-content ul {
    margin-top: 0.25em;
    padding-left: 27px;
}
#lightbox-content .social-icons {
    text-align: center;
}
#lightbox-content .social-icons a {
    display: inline-block;
    height: 37px;
    line-height: 37px;
    opacity: 0.8;
    margin-left: 5px;
    margin-right: 5px;
    width: 37px;
}
#lightbox-content .social-icons a:hover {
    opacity: 1;
}
#lightbox-content .social-icons a.facebook {
    background-image: url(../images/facebook.png);
}
#lightbox-content .social-icons a.linkedin {
    background-image: url(../images/linkedin.png);
}
#lightbox-content .social-icons a.twitter {
    background-image: url(../images/twitter.png);
}
#lightbox-content .social-icons a.youtube {
    background-image: url(../images/youtube.png);
}
.featherlight .featherlight-close-icon {
    color: #d6d6d6;
    font-size: 1.5em;
    line-height: 48px;
    width: 45px;
}
.featherlight .featherlight-close-icon:hover {
    color: #000;
}
